Package: com.sniper.pvezb
Name: Sniper PVE 僵尸噩梦
Version: 0.2.0
Architecture: iphoneos-arm64
Description: 僵尸噩梦专属(模式门禁:只在僵尸噩梦关卡启用)/自动杀怪/连击注入/刷怪加速/时长压缩/无限子弹
Maintainer: sniper
Author: sniper
Section: Tweaks
