Package: com.sniper.pvezb
Name: SniperPVEZB
Version: 0.1.0
Architecture: iphoneos-arm
Description: Sniper3D PVE 僵尸噩梦 tweak (autohead.js native port: auto kill + streak + spawn boost + time limit)
Maintainer: sniper
Author: sniper
Section: Tweaks
